/* Cascading Style Sheets Module: Index Column Module */
.column-element 
{
	border:1px solid;
	border-color:lightblue;
	border-radius: 5px;
	display:inline-block;
	height:100px;
	margin-top:5px;
	margin-right:10px;
	background-color:rgba(255,255,255,0.5);
}

.column-element .title 
{
	padding-top:5px;
	padding-left:12px;
	padding-bottom:8px;
	padding-right:10px;
	background-color:rgba(173,216,230,0.5);
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.column-element .info 
{
	padding-left:7px;
	padding-top:5px;
	padding-right:10px;
	padding-bottom:12px;
}

.column-element .info p
{
	margin:0px;
	font-size:13px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

@media screen and (min-width: 1160px) {
    .column-element
    {
    	width:330px;
    }
}
@media screen and (max-width: 1160px) {
    .column-element
    {
    	width:295px;
    }
}